# Weather API 


In this NB we import the weather data, preprocess if is needed and save as a new Data Frame. 


### Historical Data 

For training and testing the model we use the historicla weather data related to our energy consumption data provided. 

For that, we'll use the API provided by [AT-Wetter](http://at-wetter.tk/index.php?men=api). We'll use this one, and not the OpenWeather API since if we want to get the historical data depth more than a week (we need a year) we'll have to use several queries. 


#### API 

This API don't need a Key or other autentication. It's located on the AT-Server in `http://at-wetter.tk/api/v1/.`
The instruction to use it are in their [website](http://at-wetter.tk/index.php?men=api) 

#### Example 

To query **all the available stations** we need a call following the format: 
`/api/v1/[field]/[YYYY-MM-DD]/[day count]` 

A query call to `http://at-wetter.tk/api/v1/t/2014-08-01/2`  returns Temperature Data for every available station for 2014-08-01, 2 days in the past. 



To query just **one specific stations** we use: 

`/api/v1/station/[station]/[field]|[all]/[YYYY-MM-DD]/[day count]`

This will return the `[field]` from the specified date `[YYYY-MM-DD]` and prints data `[day count]` days in the past for the specified stations `[station]`

### Calling the API

In [46]:
import requests as rq
import json
import datetime as dt
import pandas as pd
import numpy as np

* See the available stations

In [ ]:
URL ="http://at-wetter.tk/api/v1/stations"
response = rq.request("GET", URL)
print(response.text)

* Calculate de day count from Building Energy Data set 

We cold do it manually, but in order to automated all the steps we'll calculated with a python script

In [ ]:
import pandas as pd 
DataFrame = pd.read_excel("./DataSets/Building_energy.xlsx", header=1)
DataFrame.head()

#Calculate the Delta Time 

start_date = dt.datetime.strptime(DataFrame['Time'][0], "%Y-%m-%d %H:%M:%S")
end_date = dt.datetime.strptime(DataFrame['Time'][len(DataFrame)-1], "%Y-%m-%d %H:%M:%S")
day_count = end_date - start_date
print(day_count.days)

As the `[daycount]` field for API Query doesn't allow hours, if we have any hours of difference between the start day and the end day, we add an extra day. Then in the data frame matching we'll delethe the extra hours for the extra day.

In [ ]:
dayCount=0 
if day_count.seconds //3600 > 0: 
    dayCount = day_count.days + 1
else: 
    dayCount = day_count.days
print(dayCount)

* Download the temperature data

In [ ]:
station = '11240' #GRAZ 
field = 'all'  #Temperatuer
days_count = str(day_count.days)

URL = "http://at-wetter.tk/api/v1/station/"
URL += station 
URL += "/" + field
URL += "/" + str(end_date.year) + "-" + str(end_date.month) + "-" + str(end_date.day)
URL += "/" + str(dayCount)
response = rq.request("GET", URL)

print(URL)
#print(response.text)
type(response.text)

In [ ]:
#response.json(encoding="utf-8")
#print(response.text)

* Saving the data into a Data Frame 

Since the data can't be downloaded in JSON format, we first split the whole text into lineas, and then elements.

In [ ]:
lines = response.text.splitlines()
ColumnNames = [ (col.replace("'",'')) for col in lines[0].split(";") ]
WeatDataFrame = pd.DataFrame(columns=ColumnNames, index=range(len(lines)-2)) # -1 cause the columnames and -1 again cuase it starts from 0

The index of the daframe starts from 0 but the first line of response.text is the ColumnName row. So we start from 0 for the DataFrame index and for idx+1 for lineas

In [ ]:
for idx in range(len(lines)-2):  
    WeatDataFrame.iloc[idx] = [ (col.replace("'",'')) for col in lines[idx+1].split(";") ]
WeatDataFrame

* Changing the datum and zeit column into a newone with datetime type object

In [ ]:
WeatDataFrame.info()

In [ ]:
WeatDataFrame["datum"][:]

In [ ]:
from datetime import datetime as dt 

dates=[] 
for idx in range(len(WeatDataFrame["datum"])): 
    str_date = str(WeatDataFrame["datum"][idx]) + " " + str(WeatDataFrame["zeit"][idx])
    dt = dt.strptime(str_date, "%Y-%m-%d %H:%M")
    dates.append(dt)

print(len(dates), len(WeatDataFrame.index))
WeatDataFrame.insert(0,"Time",dates)

In [ ]:
WeatDataFrame

* Deleting the timestamps column, zatum and zeit

In [ ]:
WeatDataFrame.drop('datum', inplace = True, axis=1) 
WeatDataFrame.drop('zeit', inplace = True, axis=1) 
WeatDataFrame.drop('timestamp', inplace = True, axis=1)

Save the data frame into a csv file

In [5]:
WeatDataFrame.to_csv("./DataSets/Raw_Weather_DataSet.csv",index=False)

NameError: name 'WeatDataFrame' is not defined

### Forecast 
#### API 

We'll use python to request de dataset from the OpenWeather data base. The API  request call should be in this format: 

``` http://history.openweathermap.org/data/2.5/history/city?q={city ID},{country code}&type=hour&start={start}&end={end}&appid={API key}```

#### Usage 

Once we introduce the day that we want to predict we request for that day's forecast. If we have it, we arrange all the necessarry inputs for that day (temp, holiday, week day,etc) and we introduce them into the model.

In [69]:
URL = " http://api.openweathermap.org/data/2.5/forecast?q=Graz&appid=" + API_KEY
response = rq.request("GET", URL)
print(response.json()["list"])

[{'dt': 1637582400, 'main': {'temp': 278.73, 'feels_like': 278.73, 'temp_min': 278.73, 'temp_max': 280.58, 'pressure': 1017, 'sea_level': 1017, 'grnd_level': 973, 'humidity': 71, 'temp_kf': -1.85}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'clouds': {'all': 83}, 'wind': {'speed': 0.7, 'deg': 308, 'gust': 1.61}, 'visibility': 10000, 'pop': 0.16, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-22 12:00:00'}, {'dt': 1637593200, 'main': {'temp': 279.18, 'feels_like': 279.18, 'temp_min': 279.18, 'temp_max': 279.87, 'pressure': 1018, 'sea_level': 1018, 'grnd_level': 974, 'humidity': 77, 'temp_kf': -0.69}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 92}, 'wind': {'speed': 0.48, 'deg': 2, 'gust': 1.34}, 'visibility': 10000, 'pop': 0.09, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-22 15:00:00'}, {'dt': 1637604000, 'main': {'temp': 278.91, 'feels_like': 278.91, 'temp_min': 278.91, 'temp_max': 278.91, 'pressure': 1021, 'sea_level': 1021, 'grnd_level': 977, 'humidity': 85, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.31, 'deg': 127, 'gust': 1.55}, 'visibility': 10000, 'pop': 0.25, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-22 18:00:00'}, {'dt': 1637614800, 'main': {'temp': 278.48, 'feels_like': 278.48, 'temp_min': 278.48, 'temp_max': 278.48, 'pressure': 1023, 'sea_level': 1023, 'grnd_level': 979, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.58, 'deg': 326, 'gust': 0.99}, 'visibility': 10000, 'pop': 0.22, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-22 21:00:00'}, {'dt': 1637625600, 'main': {'temp': 277.29, 'feels_like': 277.29, 'temp_min': 277.29, 'temp_max': 277.29, 'pressure': 1024, 'sea_level': 1024, 'grnd_level': 980, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 99}, 'wind': {'speed': 1.16, 'deg': 343, 'gust': 1.39}, 'visibility': 10000, 'pop': 0.1, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-23 00:00:00'}, {'dt': 1637636400, 'main': {'temp': 276.75, 'feels_like': 276.75, 'temp_min': 276.75, 'temp_max': 276.75, 'pressure': 1025, 'sea_level': 1025, 'grnd_level': 980, 'humidity': 84, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 87}, 'wind': {'speed': 0.93, 'deg': 311, 'gust': 0.99}, 'visibility': 10000, 'pop': 0.03, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-23 03:00:00'}, {'dt': 1637647200, 'main': {'temp': 276.09, 'feels_like': 276.09, 'temp_min': 276.09, 'temp_max': 276.09, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 982, 'humidity': 84, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'clouds': {'all': 72}, 'wind': {'speed': 0.24, 'deg': 359, 'gust': 0.72}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-23 06:00:00'}, {'dt': 1637658000, 'main': {'temp': 278.97, 'feels_like': 278.97, 'temp_min': 278.97, 'temp_max': 278.97, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 983, 'humidity': 70, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 19}, 'wind': {'speed': 0.6, 'deg': 162, 'gust': 0.94}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-23 09:00:00'}, {'dt': 1637668800, 'main': {'temp': 280.82, 'feels_like': 280.82, 'temp_min': 280.82, 'temp_max': 280.82, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 983, 'humidity': 60, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 13}, 'wind': {'speed': 1.25, 'deg': 129, 'gust': 0.98}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-23 12:00:00'}, {'dt': 1637679600, 'main': {'temp': 278.12, 'feels_like': 277.17, 'temp_min': 278.12, 'temp_max': 278.12, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 983, 'humidity': 76, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 9}, 'wind': {'speed': 1.42, 'deg': 164, 'gust': 1.91}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-23 15:00:00'}, {'dt': 1637690400, 'main': {'temp': 275.76, 'feels_like': 275.76, 'temp_min': 275.76, 'temp_max': 275.76, 'pressure': 1029, 'sea_level': 1029, 'grnd_level': 984, 'humidity': 84, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 8}, 'wind': {'speed': 0.36, 'deg': 140, 'gust': 0.68}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-23 18:00:00'}, {'dt': 1637701200, 'main': {'temp': 274.71, 'feels_like': 274.71, 'temp_min': 274.71, 'temp_max': 274.71, 'pressure': 1029, 'sea_level': 1029, 'grnd_level': 984, 'humidity': 83, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'clouds': {'all': 12}, 'wind': {'speed': 0.36, 'deg': 312, 'gust': 0.44}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-23 21:00:00'}, {'dt': 1637712000, 'main': {'temp': 274.04, 'feels_like': 274.04, 'temp_min': 274.04, 'temp_max': 274.04, 'pressure': 1028, 'sea_level': 1028, 'grnd_level': 983, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 9}, 'wind': {'speed': 0.63, 'deg': 292, 'gust': 0.65}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-24 00:00:00'}, {'dt': 1637722800, 'main': {'temp': 273.52, 'feels_like': 273.52, 'temp_min': 273.52, 'temp_max': 273.52, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 982, 'humidity': 89, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 5}, 'wind': {'speed': 0.49, 'deg': 307, 'gust': 0.56}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-24 03:00:00'}, {'dt': 1637733600, 'main': {'temp': 273.01, 'feels_like': 273.01, 'temp_min': 273.01, 'temp_max': 273.01, 'pressure': 1027, 'sea_level': 1027, 'grnd_level': 982, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 5}, 'wind': {'speed': 0.52, 'deg': 278, 'gust': 0.63}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-24 06:00:00'}, {'dt': 1637744400, 'main': {'temp': 276.78, 'feels_like': 276.78, 'temp_min': 276.78, 'temp_max': 276.78, 'pressure': 1026, 'sea_level': 1026, 'grnd_level': 981, 'humidity': 63, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 4}, 'wind': {'speed': 0.78, 'deg': 156, 'gust': 0.86}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-24 09:00:00'}, {'dt': 1637755200, 'main': {'temp': 278.99, 'feels_like': 278.23, 'temp_min': 278.99, 'temp_max': 278.99, 'pressure': 1023, 'sea_level': 1023, 'grnd_level': 979, 'humidity': 45, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 3}, 'wind': {'speed': 1.37, 'deg': 154, 'gust': 1.62}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-24 12:00:00'}, {'dt': 1637766000, 'main': {'temp': 276.17, 'feels_like': 276.17, 'temp_min': 276.17, 'temp_max': 276.17, 'pressure': 1022, 'sea_level': 1022, 'grnd_level': 977, 'humidity': 60, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 0}, 'wind': {'speed': 1.12, 'deg': 128, 'gust': 1.52}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-24 15:00:00'}, {'dt': 1637776800, 'main': {'temp': 274.21, 'feels_like': 274.21, 'temp_min': 274.21, 'temp_max': 274.21, 'pressure': 1021, 'sea_level': 1021, 'grnd_level': 977, 'humidity': 74, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 0}, 'wind': {'speed': 0.59, 'deg': 55, 'gust': 0.98}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-24 18:00:00'}, {'dt': 1637787600, 'main': {'temp': 273.5, 'feels_like': 273.5, 'temp_min': 273.5, 'temp_max': 273.5, 'pressure': 1020, 'sea_level': 1020, 'grnd_level': 975, 'humidity': 81, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 4}, 'wind': {'speed': 0.36, 'deg': 90, 'gust': 0.62}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-24 21:00:00'}, {'dt': 1637798400, 'main': {'temp': 273.08, 'feels_like': 273.08, 'temp_min': 273.08, 'temp_max': 273.08, 'pressure': 1018, 'sea_level': 1018, 'grnd_level': 973, 'humidity': 86, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'clouds': {'all': 6}, 'wind': {'speed': 0.32, 'deg': 94, 'gust': 0.51}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-25 00:00:00'}, {'dt': 1637809200, 'main': {'temp': 272.78, 'feels_like': 272.78, 'temp_min': 272.78, 'temp_max': 272.78, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 971, 'humidity': 88, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'clouds': {'all': 21}, 'wind': {'speed': 0.17, 'deg': 42, 'gust': 0.31}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-25 03:00:00'}, {'dt': 1637820000, 'main': {'temp': 272.76, 'feels_like': 272.76, 'temp_min': 272.76, 'temp_max': 272.76, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 970, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'clouds': {'all': 15}, 'wind': {'speed': 0.32, 'deg': 279, 'gust': 0.42}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-25 06:00:00'}, {'dt': 1637830800, 'main': {'temp': 277.18, 'feels_like': 277.18, 'temp_min': 277.18, 'temp_max': 277.18, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 969, 'humidity': 66, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 18}, 'wind': {'speed': 0.53, 'deg': 218, 'gust': 1.02}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-25 09:00:00'}, {'dt': 1637841600, 'main': {'temp': 280.8, 'feels_like': 280.8, 'temp_min': 280.8, 'temp_max': 280.8, 'pressure': 1009, 'sea_level': 1009, 'grnd_level': 966, 'humidity': 60, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 21}, 'wind': {'speed': 1.01, 'deg': 177, 'gust': 1.91}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-25 12:00:00'}, {'dt': 1637852400, 'main': {'temp': 277.92, 'feels_like': 277.92, 'temp_min': 277.92, 'temp_max': 277.92, 'pressure': 1009, 'sea_level': 1009, 'grnd_level': 965, 'humidity': 78, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 13}, 'wind': {'speed': 0.5, 'deg': 351, 'gust': 0.74}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-25 15:00:00'}, {'dt': 1637863200, 'main': {'temp': 276.82, 'feels_like': 276.82, 'temp_min': 276.82, 'temp_max': 276.82, 'pressure': 1009, 'sea_level': 1009, 'grnd_level': 965, 'humidity': 85, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 26}, 'wind': {'speed': 1.29, 'deg': 312, 'gust': 1.19}, 'visibility': 10000, 'pop': 0.01, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-25 18:00:00'}, {'dt': 1637874000, 'main': {'temp': 276.82, 'feels_like': 276.82, 'temp_min': 276.82, 'temp_max': 276.82, 'pressure': 1007, 'sea_level': 1007, 'grnd_level': 963, 'humidity': 88, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 43}, 'wind': {'speed': 0.8, 'deg': 347, 'gust': 0.77}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-25 21:00:00'}, {'dt': 1637884800, 'main': {'temp': 277.03, 'feels_like': 277.03, 'temp_min': 277.03, 'temp_max': 277.03, 'pressure': 1004, 'sea_level': 1004, 'grnd_level': 961, 'humidity': 89, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'clouds': {'all': 68}, 'wind': {'speed': 1.06, 'deg': 347, 'gust': 1.01}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-26 00:00:00'}, {'dt': 1637895600, 'main': {'temp': 277.88, 'feels_like': 277.88, 'temp_min': 277.88, 'temp_max': 277.88, 'pressure': 1001, 'sea_level': 1001, 'grnd_level': 958, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.95, 'deg': 18, 'gust': 0.93}, 'visibility': 10000, 'pop': 0.09, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-26 03:00:00'}, {'dt': 1637906400, 'main': {'temp': 277.54, 'feels_like': 277.54, 'temp_min': 277.54, 'temp_max': 277.54, 'pressure': 1000, 'sea_level': 1000, 'grnd_level': 957, 'humidity': 98, 'temp_kf': 0}, 'weather': [{'id': 501, 'main': 'Rain', 'description': 'moderate rain', 'icon': '10n'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.15, 'deg': 25, 'gust': 1.93}, 'visibility': 4076, 'pop': 1, 'rain': {'3h': 3.99}, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-26 06:00:00'}, {'dt': 1637917200, 'main': {'temp': 277.7, 'feels_like': 277.7, 'temp_min': 277.7, 'temp_max': 277.7, 'pressure': 998, 'sea_level': 998, 'grnd_level': 955, 'humidity': 98, 'temp_kf': 0}, 'weather': [{'id': 501, 'main': 'Rain', 'description': 'moderate rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.42, 'deg': 103, 'gust': 0.85}, 'visibility': 6308, 'pop': 1, 'rain': {'3h': 3.73}, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-26 09:00:00'}, {'dt': 1637928000, 'main': {'temp': 277.74, 'feels_like': 277.74, 'temp_min': 277.74, 'temp_max': 277.74, 'pressure': 997, 'sea_level': 997, 'grnd_level': 953, 'humidity': 98, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.71, 'deg': 177, 'gust': 1.54}, 'visibility': 10000, 'pop': 1, 'rain': {'3h': 1.31}, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-26 12:00:00'}, {'dt': 1637938800, 'main': {'temp': 277.94, 'feels_like': 277.94, 'temp_min': 277.94, 'temp_max': 277.94, 'pressure': 996, 'sea_level': 996, 'grnd_level': 953, 'humidity': 96, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.62, 'deg': 346, 'gust': 0.9}, 'visibility': 10000, 'pop': 0.14, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-26 15:00:00'}, {'dt': 1637949600, 'main': {'temp': 277.35, 'feels_like': 277.35, 'temp_min': 277.35, 'temp_max': 277.35, 'pressure': 997, 'sea_level': 997, 'grnd_level': 954, 'humidity': 95, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'clouds': {'all': 83}, 'wind': {'speed': 0.92, 'deg': 354, 'gust': 1.04}, 'visibility': 10000, 'pop': 0.14, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-26 18:00:00'}, {'dt': 1637960400, 'main': {'temp': 277.49, 'feels_like': 277.49, 'temp_min': 277.49, 'temp_max': 277.49, 'pressure': 998, 'sea_level': 998, 'grnd_level': 954, 'humidity': 95, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 98}, 'wind': {'speed': 1.2, 'deg': 64, 'gust': 2.71}, 'visibility': 10000, 'pop': 0.43, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-26 21:00:00'}, {'dt': 1637971200, 'main': {'temp': 277.13, 'feels_like': 277.13, 'temp_min': 277.13, 'temp_max': 277.13, 'pressure': 997, 'sea_level': 997, 'grnd_level': 954, 'humidity': 97, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 99}, 'wind': {'speed': 0.77, 'deg': 49, 'gust': 2.46}, 'visibility': 8356, 'pop': 0.87, 'rain': {'3h': 1.25}, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-27 00:00:00'}, {'dt': 1637982000, 'main': {'temp': 276.48, 'feels_like': 276.48, 'temp_min': 276.48, 'temp_max': 276.48, 'pressure': 998, 'sea_level': 998, 'grnd_level': 954, 'humidity': 97, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.15, 'deg': 98, 'gust': 2.23}, 'visibility': 4506, 'pop': 0.8, 'rain': {'3h': 0.33}, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-27 03:00:00'}, {'dt': 1637992800, 'main': {'temp': 275.9, 'feels_like': 275.9, 'temp_min': 275.9, 'temp_max': 275.9, 'pressure': 998, 'sea_level': 998, 'grnd_level': 954, 'humidity': 98, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.98, 'deg': 118, 'gust': 2.28}, 'visibility': 42, 'pop': 0.67, 'rain': {'3h': 0.5}, 'sys': {'pod': 'n'}, 'dt_txt': '2021-11-27 06:00:00'}, {'dt': 1638003600, 'main': {'temp': 275.83, 'feels_like': 275.83, 'temp_min': 275.83, 'temp_max': 275.83, 'pressure': 998, 'sea_level': 998, 'grnd_level': 955, 'humidity': 97, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.88, 'deg': 125, 'gust': 1.34}, 'visibility': 72, 'pop': 0.01, 'sys': {'pod': 'd'}, 'dt_txt': '2021-11-27 09:00:00'}]

In [70]:
df= pd.DataFrame(response.json()['list'])

In [71]:
df.head()

,dt,main,weather,clouds,wind,visibility,pop,sys,dt_txt,rain
0,1637582400,"{'temp': 278.73, 'feels_like': 278.73, 'temp_m...","[{'id': 803, 'main': 'Clouds', 'description': ...",{'all': 83},"{'speed': 0.7, 'deg': 308, 'gust': 1.61}",10000,0.16,{'pod': 'd'},2021-11-22 12:00:00,NaN
1,1637593200,"{'temp': 279.18, 'feels_like': 279.18, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 92},"{'speed': 0.48, 'deg': 2, 'gust': 1.34}",10000,0.09,{'pod': 'd'},2021-11-22 15:00:00,NaN
2,1637604000,"{'temp': 278.91, 'feels_like': 278.91, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 0.31, 'deg': 127, 'gust': 1.55}",10000,0.25,{'pod': 'n'},2021-11-22 18:00:00,NaN
3,1637614800,"{'temp': 278.48, 'feels_like': 278.48, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 100},"{'speed': 0.58, 'deg': 326, 'gust': 0.99}",10000,0.22,{'pod': 'n'},2021-11-22 21:00:00,NaN
4,1637625600,"{'temp': 277.29, 'feels_like': 277.29, 'temp_m...","[{'id': 804, 'main': 'Clouds', 'description': ...",{'all': 99},"{'speed': 1.16, 'deg': 343, 'gust': 1.39}",10000,0.10,{'pod': 'n'},2021-11-23 00:00:00,NaN

In [72]:
temp = [] 
timestamp=  [] 
FDf = pd.DataFrame()
for idx,value in enumerate(df['main']): 
    #print(value['temp'])
    #print(df['dt_txt'][idx])
    temp.append(value['temp']-273.15) #Kelvin to celsius 
    timestamp.append(df['dt_txt'][idx])

In [73]:
FDf.insert(0,'Time',timestamp)

In [74]:
FDf.insert(1,'t',temp)

In [75]:
FDf.head()

                  Time     t
0  2021-11-22 12:00:00  5.58
1  2021-11-22 15:00:00  6.03
2  2021-11-22 18:00:00  5.76
3  2021-11-22 21:00:00  5.33
4  2021-11-23 00:00:00  4.14

 * Converting into datetime type objects

In [76]:
from datetime import datetime as dt
def Convertstr2dt(data,col): 
    dates=[]
    for str_date in data[col]: 
        dti = dt.strptime(str_date, "%Y-%m-%d %H:%M:%S")
        dates.append(dti)
   
    #Delete the old column
    data.drop(col, inplace = True, axis=1) 

    #Insert the newone
    data.insert(0, col,dates)
    return data

DataFrame = Convertstr2dt(FDf,'Time')

In [77]:
DataFrame.head()

                 Time     t
0 2021-11-22 12:00:00  5.58
1 2021-11-22 15:00:00  6.03
2 2021-11-22 18:00:00  5.76
3 2021-11-22 21:00:00  5.33
4 2021-11-23 00:00:00  4.14

* Identify the week days

In [78]:
weekday = [] 
for day in DataFrame['Time']: 
    weekday.append(day.weekday())

#Add the new column
DataFrame.insert(1, 'Week Day',weekday)
DataFrame.head()

                 Time  Week Day     t
0 2021-11-22 12:00:00         0  5.58
1 2021-11-22 15:00:00         0  6.03
2 2021-11-22 18:00:00         0  5.76
3 2021-11-22 21:00:00         0  5.33
4 2021-11-23 00:00:00         1  4.14

#### Decoding the weekdays

In [79]:
import math
WeekDaysNorm = 2 * math.pi * DataFrame["Week Day"] / (DataFrame["Week Day"].max()+1) #+1 cause we start from 0

DataFrame["cos_x"] = np.cos(WeekDaysNorm)
DataFrame["sin_x"] = np.sin(WeekDaysNorm)

DataFrame.head(100)

                  Time  Week Day     t  cos_x         sin_x
0  2021-11-22 12:00:00         0  5.58    1.0  0.000000e+00
1  2021-11-22 15:00:00         0  6.03    1.0  0.000000e+00
2  2021-11-22 18:00:00         0  5.76    1.0  0.000000e+00
3  2021-11-22 21:00:00         0  5.33    1.0  0.000000e+00
4  2021-11-23 00:00:00         1  4.14    0.5  8.660254e-01
5  2021-11-23 03:00:00         1  3.60    0.5  8.660254e-01
6  2021-11-23 06:00:00         1  2.94    0.5  8.660254e-01
7  2021-11-23 09:00:00         1  5.82    0.5  8.660254e-01
8  2021-11-23 12:00:00         1  7.67    0.5  8.660254e-01
9  2021-11-23 15:00:00         1  4.97    0.5  8.660254e-01
10 2021-11-23 18:00:00         1  2.61    0.5  8.660254e-01
11 2021-11-23 21:00:00         1  1.56    0.5  8.660254e-01
12 2021-11-24 00:00:00         2  0.89   -0.5  8.660254e-01
13 2021-11-24 03:00:00         2  0.37   -0.5  8.660254e-01
14 2021-11-24 06:00:00         2 -0.14   -0.5  8.660254e-01
15 2021-11-24 09:00:00         2  3.63   -0.5  8.660254e-01
16 2021-11-24 12:00:00         2  5.84   -0.5  8.660254e-01
17 2021-11-24 15:00:00         2  3.02   -0.5  8.660254e-01
18 2021-11-24 18:00:00         2  1.06   -0.5  8.660254e-01
19 2021-11-24 21:00:00         2  0.35   -0.5  8.660254e-01
20 2021-11-25 00:00:00         3 -0.07   -1.0  1.224647e-16
21 2021-11-25 03:00:00         3 -0.37   -1.0  1.224647e-16
22 2021-11-25 06:00:00         3 -0.39   -1.0  1.224647e-16
23 2021-11-25 09:00:00         3  4.03   -1.0  1.224647e-16
24 2021-11-25 12:00:00         3  7.65   -1.0  1.224647e-16
25 2021-11-25 15:00:00         3  4.77   -1.0  1.224647e-16
26 2021-11-25 18:00:00         3  3.67   -1.0  1.224647e-16
27 2021-11-25 21:00:00         3  3.67   -1.0  1.224647e-16
28 2021-11-26 00:00:00         4  3.88   -0.5 -8.660254e-01
29 2021-11-26 03:00:00         4  4.73   -0.5 -8.660254e-01
30 2021-11-26 06:00:00         4  4.39   -0.5 -8.660254e-01
31 2021-11-26 09:00:00         4  4.55   -0.5 -8.660254e-01
32 2021-11-26 12:00:00         4  4.59   -0.5 -8.660254e-01
33 2021-11-26 15:00:00         4  4.79   -0.5 -8.660254e-01
34 2021-11-26 18:00:00         4  4.20   -0.5 -8.660254e-01
35 2021-11-26 21:00:00         4  4.34   -0.5 -8.660254e-01
36 2021-11-27 00:00:00         5  3.98    0.5 -8.660254e-01
37 2021-11-27 03:00:00         5  3.33    0.5 -8.660254e-01
38 2021-11-27 06:00:00         5  2.75    0.5 -8.660254e-01
39 2021-11-27 09:00:00         5  2.68    0.5 -8.660254e-01

#### Holidays matching

In [80]:
from datetime import date 
import holidays 
holidaysList = [] 

for day, name in sorted(holidays.AT(state='9', years=2021).items()): 
    holidaysList.append(day)
    
print(holidaysList, len(holidaysList))

DataFrame.insert(1,"Holiday",np.zeros(len(DataFrame)))
for i,date in enumerate(DataFrame['Time']):
    if date in holidaysList: 
        DataFrame["Holiday"].loc[i] = 1

[datetime.date(2021, 1, 1), datetime.date(2021, 1, 6), datetime.date(2021, 4, 5), datetime.date(2021, 5, 1), datetime.date(2021, 5, 13), datetime.date(2021, 5, 24), datetime.date(2021, 6, 3), datetime.date(2021, 8, 15), datetime.date(2021, 10, 26), datetime.date(2021, 11, 1), datetime.date(2021, 12, 8), datetime.date(2021, 12, 25), datetime.date(2021, 12, 26)] 13

In [81]:
def SaveDataFrame(data, name): 
    data.to_csv(name,index=False)
    return

In [83]:
SaveDataFrame(DataFrame,"./DataSets/Forecast_DataSet.csv")