# Pre Process Weather Data 

Although the data set doesn't have any null value we've found some missing data points of the weather data, so it doesn't match with our Energy Consumption reading's Timestamps

   * Open the weather and the energy consumption dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime as dt

In [3]:
Energy_df= pd.read_csv('./DataSets/PreProcessed_EnergyConsumption.csv', header=0)
Energy_df

                     Time  Energy Usage
0     2021-01-27 11:00:00          8.03
1     2021-01-27 12:00:00          6.85
2     2021-01-27 13:00:00          8.86
3     2021-01-27 14:00:00          7.37
4     2021-01-27 15:00:00          7.67
...                   ...           ...
6721  2021-11-03 12:00:00          6.68
6722  2021-11-03 13:00:00          7.26
6723  2021-11-03 14:00:00          6.81
6724  2021-11-03 15:00:00          8.81
6725  2021-11-03 16:00:00          7.92

[6726 rows x 2 columns]

In [4]:
Weather_df = pd.read_csv('./DataSets/Raw_Weather_DataSet.csv', header=0)
Weather_df.head()

,Time,station,name,hoehe,t,tp,rf,wr,wg,wsr,wsg,regen,ldred,ldstat,sonne
0,2021-01-26 00:00:00,11240,Graz/Flughafen,340,-3.1,-4.0,93.0,220.0,1.8,NaN,7.6,0.0,1010.3,965.2,0.0
1,2021-01-26 01:00:00,11240,Graz/Flughafen,340,-3.3,-3.9,96.0,360.0,3.6,NaN,5.4,0.0,1010.9,965.8,0.0
2,2021-01-26 02:00:00,11240,Graz/Flughafen,340,-2.8,-3.5,95.0,260.0,5.4,NaN,7.6,0.0,1011.1,966.0,0.0
3,2021-01-26 03:00:00,11240,Graz/Flughafen,340,-3.8,-4.2,97.0,180.0,5.4,NaN,7.6,0.0,1011.4,966.2,0.0
4,2021-01-26 04:00:00,11240,Graz/Flughafen,340,-4.7,-5.3,96.0,280.0,1.8,NaN,9.4,0.0,1012.0,966.6,0.0

### Index Matching between Energy dataset and weather

In [5]:
dfMerge = pd.merge(left=Energy_df,right=Weather_df, how='left', left_on='Time', right_on='Time')
dfMerge

,Time,Energy Usage,station,name,hoehe,t,tp,rf,wr,wg,wsr,wsg,regen,ldred,ldstat,sonne
0,2021-01-27 11:00:00,8.03,11240.0,Graz/Flughafen,340.0,0.0,-3.8,75.0,130.0,3.6,NaN,7.6,0.0,1018.4,973.5,93.0
1,2021-01-27 12:00:00,6.85,11240.0,Graz/Flughafen,340.0,1.9,-3.3,68.0,150.0,5.4,NaN,9.4,0.0,1017.7,973.1,66.0
2,2021-01-27 13:00:00,8.86,11240.0,Graz/Flughafen,340.0,3.5,-2.8,63.0,190.0,7.6,NaN,11.2,0.0,1016.8,972.5,100.0
3,2021-01-27 14:00:00,7.37,11240.0,Graz/Flughafen,340.0,4.4,-5.3,49.0,120.0,9.4,NaN,14.8,0.0,1016.3,972.1,99.0
4,2021-01-27 15:00:00,7.67,11240.0,Graz/Flughafen,340.0,5.0,-7.6,40.0,150.0,5.4,NaN,11.2,0.0,1015.5,971.5,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6721,2021-11-03 12:00:00,6.68,11240.0,Graz/Flughafen,340.0,5.7,4.7,93.0,140.0,5.4,NaN,11.2,0.0,1008.5,964.9,0.0
6722,2021-11-03 13:00:00,7.26,11240.0,Graz/Flughafen,340.0,6.7,5.2,90.0,70.0,5.4,NaN,13.0,0.0,1007.7,964.3,0.0
6723,2021-11-03 14:00:00,6.81,11240.0,Graz/Flughafen,340.0,7.3,5.9,91.0,80.0,3.6,NaN,9.4,0.0,1006.8,963.6,0.0
6724,2021-11-03 15:00:00,8.81,11240.0,Graz/Flughafen,340.0,7.4,6.4,93.0,300.0,3.6,NaN,5.4,0.0,1006.7,963.5,0.0
6725,2021-11-03 16:00:00,7.92,11240.0,Graz/Flughafen,340.0,7.7,6.8,94.0,300.0,5.4,NaN,7.6,0.4,1006.1,963.0,0.0

### Replacing the missing values or NanValues 

* Check if we have any Null Value (double check)

In [6]:
dfMerge['t'].all()

False

In [7]:
dfMerge.interpolate(method='linear',aixs=1, inplace=True) #or ffil 
dfMerge

,Time,Energy Usage,station,name,hoehe,t,tp,rf,wr,wg,wsr,wsg,regen,ldred,ldstat,sonne
0,2021-01-27 11:00:00,8.03,11240.0,Graz/Flughafen,340.0,0.0,-3.8,75.0,130.0,3.6,NaN,7.6,0.0,1018.4,973.5,93.0
1,2021-01-27 12:00:00,6.85,11240.0,Graz/Flughafen,340.0,1.9,-3.3,68.0,150.0,5.4,NaN,9.4,0.0,1017.7,973.1,66.0
2,2021-01-27 13:00:00,8.86,11240.0,Graz/Flughafen,340.0,3.5,-2.8,63.0,190.0,7.6,NaN,11.2,0.0,1016.8,972.5,100.0
3,2021-01-27 14:00:00,7.37,11240.0,Graz/Flughafen,340.0,4.4,-5.3,49.0,120.0,9.4,NaN,14.8,0.0,1016.3,972.1,99.0
4,2021-01-27 15:00:00,7.67,11240.0,Graz/Flughafen,340.0,5.0,-7.6,40.0,150.0,5.4,NaN,11.2,0.0,1015.5,971.5,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6721,2021-11-03 12:00:00,6.68,11240.0,Graz/Flughafen,340.0,5.7,4.7,93.0,140.0,5.4,NaN,11.2,0.0,1008.5,964.9,0.0
6722,2021-11-03 13:00:00,7.26,11240.0,Graz/Flughafen,340.0,6.7,5.2,90.0,70.0,5.4,NaN,13.0,0.0,1007.7,964.3,0.0
6723,2021-11-03 14:00:00,6.81,11240.0,Graz/Flughafen,340.0,7.3,5.9,91.0,80.0,3.6,NaN,9.4,0.0,1006.8,963.6,0.0
6724,2021-11-03 15:00:00,8.81,11240.0,Graz/Flughafen,340.0,7.4,6.4,93.0,300.0,3.6,NaN,5.4,0.0,1006.7,963.5,0.0
6725,2021-11-03 16:00:00,7.92,11240.0,Graz/Flughafen,340.0,7.7,6.8,94.0,300.0,5.4,NaN,7.6,0.4,1006.1,963.0,0.0

### Deleting the usefulless column

In [8]:
dfMerge.drop('station', inplace = True, axis=1) 
dfMerge.drop('name', inplace = True, axis=1) 
dfMerge.drop('hoehe', inplace = True, axis=1)

In [9]:
def SaveDataFrame(data, name): 
    data.to_csv(name,index=False)
    return

In [10]:
SaveDataFrame(dfMerge,"./DataSets/PreProcessed_EnergyConsumption_WeatherData.csv")